<div class='tempo-input' >
  <p> Tempo:</p>
  <input type="number" name="bpm" [ngModel]="tempo" (ngModelChange)="onTempoChange($event)" min="1" [formControl]="tempoControl">
</div>
<div class='inline'>
  <neon-div [cssClass]="isTempoSelected(WellKnownTempi.Custom)"><p>Custom</p></neon-div>
  <neon-div selectable (clicked)="onTempoChange(WellKnownTempi.Andante)" [cssClass]="isTempoSelected(WellKnownTempi.Andante)"><p>Andante</p></neon-div>
  <neon-div selectable (clicked)="onTempoChange(WellKnownTempi.Moderato)" [cssClass]="isTempoSelected(WellKnownTempi.Moderato)"><p>Moderato</p></neon-div>
  <neon-div selectable (clicked)="onTempoChange(WellKnownTempi.Allegro)" [cssClass]="isTempoSelected(WellKnownTempi.Allegro)"><p>Allegro</p></neon-div>
  <neon-div selectable (clicked)="onTempoChange(WellKnownTempi.Vivace)" [cssClass]="isTempoSelected(WellKnownTempi.Vivace)"><p>Vivace</p></neon-div>
  <neon-div selectable (clicked)="onTempoChange(WellKnownTempi.Presto)" [cssClass]="isTempoSelected(WellKnownTempi.Presto)"><p>Presto</p></neon-div>
</div>
