<div [class]="'flex-row'">
    <div [class]="'flex-column'">
        <app-key [selected]='this.noteGameService.settings.notesAvailable' ></app-key>
        <app-n-notes-selector></app-n-notes-selector>
        <button (click)='start()'> Start </button>
    </div>
    <div [class]="'flex-column'">
        <app-tempo-selector></app-tempo-selector>
        <first-note-opts></first-note-opts>
        <div>
            <p>Limit to:</p>
            <div [class]="'flex-row'">
                
                <div>Some other thing</div>
                <app-timer></app-timer>
        
            </div>
        </div>
        
    </div>
</div>

    

  

