<div [class]="'flex-row'">
    <div [class]="'flex-column'">
        <app-key [selected]='this.noteGameService.settings.notesAvailable' ></app-key>
        <app-n-notes-selector></app-n-notes-selector>
        <button (click)='start()'> Start </button>
    </div>
    <div [class]="'flex-column'">
        <app-tempo-selector></app-tempo-selector>
        <first-note-opts></first-note-opts>
        <div>
            <neon-div (clicked)='test($event)' [cssClass]='this.deletePlease' > <app-timer> </app-timer>  </neon-div>
        
        </div>
        
    </div>
</div>

    

  

